%section
  %h1 Celebrating the Arts & Cultures of the African Diaspora
  %h2 What &amp; Where is the African Diaspora?
  %p The Cincinnati Juneteenth Festival traditionally begins with a flag parade. Some 70 flags represent both the African regions (now countries) from which Africans were captured and enslaved and the countries to which they were transported during the 300+ years of the trans-Atlantic slave trade.
  %p The 2019 Festival has moved beyond carrying and displaying the flags to presenting the music and art that is both diverse and common to the ancestors of Africans enslaved in the Caribbean and North-South-and-Central America.

%p.disclaimer These notes and quotes have been gleaned from internet searches. Use the links to read from each source.

%section
  %h3 What is the African Diaspora?
  %p "The creation of the modern African Diaspora in the Americas is largely the result of a tumultuous period in world history in which Africans were scattered abroad by the pressures of plantation slavery and the ideologies associated with white supremacy.
  %p The formation of the black societies and cultures in the Americas that trace their beginnings to this unfortunate period in world history represent a socio-historical phenomenon in which enslaved Africans and their descendants persevered to create a vibrant cultural legacy owing much to both Africa and the Americas, despite the systematic pressures of slave owners and overseers to erase the memory of Africa from the hearts and minds of the population.
  %p Regardless of where one travels throughout the Diaspora, whether in Latin America, the Caribbean, or North America, it is impossible to elude the numerous similarities in art, cuisine, religion, community organization, speech patterns, and world view that pay homage to the legacy of the African experience in the Americas."
  = link_to "Read more about The Transatlantic Slave Trade and Origins of the African Diaspora in Texas.", "https://www.pvamu.edu/tiphc/research-projects/the-diaspora-coming-to-texas/the-transatlantic-slave-trade-and-origins-of-the-african-diaspora-in-texas/", target: "_blank"

%section
  %h3 400 years ago&ndash;1619&ndash;captured Africans first arrived in the American colonies&hellip;
  %p
    But not at Jamestown! Historians have recently confirmed they actually arrived at Hampton, VA. Here’s a link to some fascinating work that celebrates African Landing Day by
    = link_to "Project1619.", "http://project1619.org/", target: "_blank"
    To learn more about the First African Landing at Old Point Comfort,
    = link_to "visit Fort Monroe's website.", "https://fortmonroe.org/about/whats-going-on-at-fort-monroe/400th-commemoration/", target: "_blank"
    Fort Monroe also created a beautiful program to commemorate the 400th anniversary of the First African Landing,
    = link_to "you can view that PDF here.", "assets/files/FtMonroe-NationalMonument.pdf", target: "_blank"
%section
  %h3 Many Millions
  %p "One of the most important legacies of the transatlantic slave trade and also of colonial rule in Africa and the Caribbean has been the creation of the modern African diaspora – the dispersal of millions of people of African origin all over the world but especially in Europe and the Americas.
  %p The largest populations of people descended from those who were forcibly transported from Africa are in Brazil, though not precisely listed in census returns, but it may be as high as 90 million – about half of Brazil’s entire population in 2010, in the Caribbean (approximately 40 million), the United States (another 40 million) and many millions more in other countries. This would not be too surprising as more enslaved Africans, (roughly 4 million) were taken to Brazil than to any other country. In addition, slavery lasted longer in Brazil than in other countries, not being finally abolished until 1888."
  %p
    From
    = link_to "Understanding Slavery Initiative", "http://www.understandingslavery.com/index.php-option=com_content&view=article&id=314_diaspora&catid=125_themes&Itemid=226.html", target: "_blank"
