%section
  %h1 Read About the History Legacy of Slavery in America
  %p The Cincinnati Public Library compiled these age-appropriate reading lists. All books are available at The Cincinnati Public Library, and links to the library's result have been provided. If the book is no longer available at The Cincinnati Public Library, then an Amazon link has been provided.
  %nav
    %ul
      %li
        = link_to "Adult Non-Fiction", "#adult-non-fiction"
      %li
        = link_to "Adult Fiction", "#adult-fiction"
      %li
        = link_to "Teens", "#teens"
      %li
        = link_to "PreK &mdash; Grade 6", "#pre-teens"
      %li
        = link_to "Slavery by Another Name", "#slavery-by-another-name"
%section#adult-non-fiction
  %h2
    = link_to "Adult Non-Fiction", "../images/files/JuneteenthBookList--AdultNonFiction.pdf"
  %ol
    %li
      Beyond Emancipation: The History of a People
      %ol
        %li
          African Roots
          %ul
            %li
              = link_to "Children of Fire: A History of African Americans by Thomas C. Holt", "https://cincinnatilibrary.bibliocommons.com/item/show/2602819170", target: "_blank"
            %li
              = link_to "In Search of Our Roots: How 19 Extraordinary African Americans Reclaimed Their Past by Henry Louis Gates", "https://cincinnatilibrary.bibliocommons.com/item/show/2531076170", target: "blank"
            %li
              = link_to "The African American Family's Guide to Tracing Our Roots: Healing, Understanding &amp; Restoring Our Families by Roland C. Barksale-Hall", "https://cincinnatilibrary.bibliocommons.com/item/show/2701537170", target: "blank"
        %li
          Middle Passage - The Diaspora
          %ul
            %li
              = link_to "Becoming American: the African-American Journey by Howard Dodson", "https://cincinnatilibrary.bibliocommons.com/item/show/2680699170", target: "_blank"
            %li
              = link_to "Post Black: How a New Generation is Redefining African American Identity by Ytasha Womack", "https://cincinnatilibrary.bibliocommons.com/item/show/2738984170", target: "_blank"
            %li
              = link_to "Becoming Black: Creating Identity in the African Diaspora by Michelle Wright", "https://cincinnatilibrary.bibliocommons.com/item/show/2237354170", target: "_blank"
        %li
          Chattel Slave System and the Struggles to End It
          %ul
            %li
              = link_to "The Chattel Principle: Internal Slave Trade in the Americas edited by Walter Johnson", "https://cincinnatilibrary.bibliocommons.com/item/show/2608987170", target: "_blank"
            %li
              = link_to "From Slavery to Emancipation in the Atlantic World editors Sylvia R. Frey and Betty Wood", "https://www.amazon.com/dp/0714649643/ref=cm_sw_em_r_mt_dp_yP0HFbHWJY37Z", target: "_blank"
            %li
              = link_to "Inhuman Bondage: The Rise and Fall of Slavery in the New World by David Brion Davis", "https://cincinnatilibrary.bibliocommons.com/item/show/2767722170", target: "_blank"
        %li
          Emancipation Proclamation and the 13th, 14th, and 15th Amendments
          %ul
            %li
              = link_to "Act of Justice: Lincoln's Emancipation Proclamation and the Law of War by Burrus M. Carnahan", "https://cincinnatilibrary.bibliocommons.com/item/show/2569730170", target: "_blank"
            %li
              = link_to "Final Freedom: the Civil War, the Abolition of Slavery, and the Thirteenth Amendment by Michael Vorenberg", "https://cincinnatilibrary.bibliocommons.com/item/show/2504888170", target: "_blank"
            %li
              = link_to "Democracy Reborn: the Fourteenth Amendment and the Fight for Equal Rights in Post-Civil War America by Garrett Epps", "https://cincinnatilibrary.bibliocommons.com/item/show/2602259170", target: "_blank"
            %li
              = link_to "The Trial of Democracy: Black Suffrage and Northern Republicans by Xi Wang", "https://www.amazon.com/dp/0820340847/ref=cm_sw_em_r_mt_dp_pe2HFbC5Z0VTE", target: "_blank"
        %li
          Reconstruction
          %ul
            %li
              = link_to "Capitol Men: The Epic Story of Reconstruction Through the Lives of the First Black Congressmen by Philip Dray", "https://cincinnatilibrary.bibliocommons.com/item/show/2674649170", target: "_blank"
            %li
              = link_to "African Americans During Reconstruction by Richard Worth", "https://cincinnatilibrary.bibliocommons.com/item/show/2512036170", target: "_blank"
            %li
              = link_to "Forever Free: The Story of Emancipation and Reconstruction by Eric Foner", "https://cincinnatilibrary.bibliocommons.com/item/show/2708900170", target: "_blank"
        %li
          Migration West - Black Towns
          %ul
            %li
              = link_to "African Americans on the Western Frontier edited with an introduction by Monroe Lee Billington and Roger D. Hardaway", "https://cincinnatilibrary.bibliocommons.com/item/show/2630573170", target: "_blank"
            %li
              = link_to "The Black West by William Loren Katz", "https://cincinnatilibrary.bibliocommons.com/item/show/1073066170", target: "_blank"
            %li
              = link_to "In Search of the Racial Frontier: African Americans in the American West 1528-1990 by Quintard Taylor", "https://cincinnatilibrary.bibliocommons.com/item/show/1653536170", target: "_blank"
        %li
          Jim Crow
          %ul
            %li
              = link_to "Inherently Unequal: The Betrayal of Equal Rights by the Supreme Court 1865-1903 by Lawrence Goldstone", "https://cincinnatilibrary.bibliocommons.com/item/show/2658897170", target: "_blank"
            %li
              = link_to "How Free is Free? The Long Death of Jim Crow by Leon F. Litwack", "https://cincinnatilibrary.bibliocommons.com/item/show/2552765170", target: "_blank"
            %li
              = link_to "Booker T. Washington: Black Leadership in the Age of Jim Crow by Raymond Smock", "https://www.amazon.com/dp/B00C65N34C/ref=cm_sw_em_r_mt_dp_Iy2HFbG0CM33D", target: "_blank"
        %li
          Migration North
          %ul
            %li
              = link_to "Bridges of Memory: Chicago's First Wave of Black Migration by Timuel D. Black", "https://cincinnatilibrary.bibliocommons.com/item/show/2136683170", target: "_blank"
            %li
              = link_to "The Warmth of Other Suns: The Epic Story of America's Great Migration by Isabel Wilkerson", "https://cincinnatilibrary.bibliocommons.com/item/show/3140059170", target: "_blank"
        %li
          Harlem Renaissance
          %ul
            %li
              = link_to "Encyclopedia of the Harlem Literary Renaissance by Lois Brown", "https://cincinnatilibrary.bibliocommons.com/item/show/2700599170", target: "_blank"
            %li
              = link_to "On the Shoulders of Giants: My Journey Through the Harlem Renaissance by Kareem Abdul-Jabbar", "https://cincinnatilibrary.bibliocommons.com/item/show/2677105170", target: "_blank"
            %li
              = link_to "The Harlem Renaissance edited and with an introduction by Harold Bloom", "https://cincinnatilibrary.bibliocommons.com/item/show/2205184170", target: "_blank"
            %li
              = link_to "The Cambridge Companion to the Harlem Renaissance edited by George Hutchinson", "https://www.amazon.com/dp/0521673682/ref=cm_sw_em_r_mt_dp_SjhIFbNJQ7XGS", target: "_blank"
        %li
          World Wars I and II
          %ul
            %li
              = link_to "Harlem's Hell Fighters: the African-American 369th Infantry in World War I by Stephen L. Harris", "https://cincinnatilibrary.bibliocommons.com/item/show/1999374170", target: "_blank"
            %li
              = link_to "The African American Experience During World War II by Neil A. Wynn", "https://cincinnatilibrary.bibliocommons.com/item/show/2520246170", target: "_blank"
            %li
              = link_to "Black Knights: The Story of the Tuskegee Airmen by Lynn M. Homan", "https://cincinnatilibrary.bibliocommons.com/item/show/1781008170", target: "_blank"
            %li
              = link_to "Blood for Dignity: the Story of the First Integrated Combat Unit in the U.S. Army by David Colley", "https://cincinnatilibrary.bibliocommons.com/item/show/1992493170", target: "_blank"
        %li
          Civil Rights Movement
          %ul
            %li
              = link_to "Courage to Dissent: Atlanta and the Long History of the Civil Rights Movement by Tomiko Brown-Nagi", "https://cincinnatilibrary.bibliocommons.com/item/show/2741692170", target: "_blank"
            %li
              = link_to "Lift Every Voice: the NAACP and the Making of the Civil Rights Movement by Patricia Sullivan", "https://cincinnatilibrary.bibliocommons.com/item/show/2660491170", target: "_blank"
            %li
              = link_to "Road to Freedom: Photographs of the Civil Rights Movement, 1956-1968 by Julian Cox", "https://cincinnatilibrary.bibliocommons.com/item/show/2649766170", target: "_blank"
        %li
          Contemporary Achievers (e.g., Barack Obama, Oprah Winfrey, the Williams sisters, etc.)
          %ul
            %li
              = link_to "Oprah: A Biography by Kitty Kelley", "https://cincinnatilibrary.bibliocommons.com/item/show/2495262170", target: "_blank"
            %li
              = link_to "The Bridge: The Life and Rise of Barack Obama by David Remnick", "https://cincinnatilibrary.bibliocommons.com/item/show/2776377170", target: "_blank"
            %li
              = link_to "Venus and Serena Williams: A Biography by Jacqueline Edmondson", "https://cincinnatilibrary.bibliocommons.com/item/show/2662702170", target: "_blank"
            %li
              = link_to "My American Journey by Colin L. Powell", "https://cincinnatilibrary.bibliocommons.com/item/show/1530869170", target: "_blank"
            %li
              = link_to "No Higher Honor: A Memoir of My Years in Washington by Condoleezza Rice", "https://cincinnatilibrary.bibliocommons.com/item/show/2789034170", target: "_blank"
    %li
      Beyond Emancipation: The Fight for Freedom
      %ol
        %li
          Insurrections and Rebellions
          %ul
            %li
              = link_to "Midnight Rising: John Brown and the Raid that Sparked the Civil War by Tony Horwitz", "https://cincinnatilibrary.bibliocommons.com/item/show/2789031170", target: "_blank"
            %li
              = link_to "Nat Turner: A Slave Rebellion in History and Memory edited by Kenneth S. Greenberg", "https://cincinnatilibrary.bibliocommons.com/item/show/1823678170", target: "_blank"
            %li
              = link_to "Antislavery Violence: Sectional, Racial, and Cultural Conflict in Antebellum America edited by John R. McKivigan and Stanley Harrold", "https://www.amazon.com/dp/1572330597/ref=cm_sw_em_r_mt_dp_UhHIFbQW5VXHY", target: "_blank"
        %li
          The Underground Railroad
          %ul
            %li
              = link_to "Fleeing for Freedom: Stories of the Underground Railroad edited with an introduction by George and Willene Hendrick", "https://www.amazon.com/dp/1566635462/ref=cm_sw_em_r_mt_dp_pkHIFbRPPQPMY", target: "_blank"
            %li
              = link_to "Harriet Tubman: Imagining a Life by Beverly Lowry", "https://cincinnatilibrary.bibliocommons.com/item/show/2760438170", target: "_blank"
            %li
              = link_to "Escape on the Pearl: the Heroic Bid for Freedom on the Underground Railroad by Mary Kay Ricks", "https://cincinnatilibrary.bibliocommons.com/item/show/2686992170", target: "_blank"
            %li
              = link_to "Bound for Canaan: the Underground Railroad and the War for the Soul of America by Fergus M. Bordewich", "https://cincinnatilibrary.bibliocommons.com/item/show/2572512170", target: "_blank"
        %li
          Civil Rights and Black Power Movements
          %ul
            %li
              = link_to "The Black Power Movement: Rethinking the Civil Rights-Black Power Era edited by Peniel E. Joseph", "https://cincinnatilibrary.bibliocommons.com/item/show/2682611170", target: "_blank"
            %li
              = link_to "Engines of the Black Power Movement: Essays on the Influence of Civil Rights Actions, Arts, and Islam edited by James L. Conyers, Jr.", "https://www.amazon.com/dp/0786425407/ref=cm_sw_em_r_mt_dp_7pHIFb3HY0ZME", target: "_blank"
            %li
              = link_to "Liberation, Imagination, and the Black Panther Party: A New Look at the Panters and Their Legacy edited by Kathleen Cleaver and George Katsiaficas", "https://cincinnatilibrary.bibliocommons.com/item/show/1874511170", target: "_blank"
        %li
          Non-Violent Resistance
          %ul
            %li
              = link_to "Becoming King: Martin Luther King, Jr. and the Making of a National Leader by Troy Jackson", "https://cincinnatilibrary.bibliocommons.com/item/show/2514837170", target: "_blank"
            %li
              = link_to "Meek Ain't Weak: Nonviolent Power and People of Color by Tom H. Hastings", "https://cincinnatilibrary.bibliocommons.com/item/show/1922352170", target: "_blank"
            %li
              = link_to "Martin Luther King, Jr., Spirit-Led Prophet: A Biography by Richard L. Deats", "https://cincinnatilibrary.bibliocommons.com/item/show/1890878170", target: "_blank"
        %li
          Writings, Laws, etc.
          %ul
            %li
              = link_to "Legacies of the 1964 Civil Rights Act edited by Bernard Grofman", "https://cincinnatilibrary.bibliocommons.com/item/show/1757164170", target: "_blank"
            %li
              = link_to "The Civil Rights Act of 1964: the Passage of the Law That Ended Racial Segregation edited by Robert D. Loevy", "https://cincinnatilibrary.bibliocommons.com/item/show/1898309170", target: "_blank"

%section#adult-fiction
  %h2
    = link_to "Adult Fiction", "../images/files/JuneteenthBookList--AdultFiction.pdf"
  %ul
    %li
      Abolitionists
      %ul
        %li
          = link_to "The Widow's War by Mary Mackey", "https://cincinnatilibrary.bibliocommons.com/item/show/2682203170", target: "_blank"
        %li
          = link_to "The Stamp of Glory: A Novel of the Abolitionist Movement by Tim Stafford", "https://cincinnatilibrary.bibliocommons.com/item/show/1800029170", target: "_blank"
    %li
      African Americans&mdash;Segregation
      %ul
        %li
          = link_to "Early Bright by Ami Silber", "https://cincinnatilibrary.bibliocommons.com/item/show/2532190170", target: "_blank"
    %li
      Civil Rights
      %ul
        %li
          = link_to "A Walk Through Fire: A Novel by William Cobb", "https://cincinnatilibrary.bibliocommons.com/item/show/1679650170", target: "_blank"
        %li
          = link_to "Invisible Man by Ralph Ellison", "https://cincinnatilibrary.bibliocommons.com/item/show/2467038170", target: "_blank"
        %li
          = link_to "Color of Law: a novel by David Milofsky", "https://cincinnatilibrary.bibliocommons.com/item/show/1823295170", target: "_blank"
        %li
          = link_to "No Crystal Stair by Eva Rutland", "https://cincinnatilibrary.bibliocommons.com/item/show/1766913170", target: "_blank"
        %li
          = link_to "Safe from the Neighbors by Steve Yarbrough", "https://cincinnatilibrary.bibliocommons.com/item/show/2708451170", target: "_blank"
    %li
      Emancipation Proclamation
      %ul
        %li
          = link_to "Come Juneteenth by Ann Rinaldi", "https://cincinnatilibrary.bibliocommons.com/item/show/2707953170", target: "_blank"
        %li
          = link_to "An Eighth of August : a novel by Dawn Turner Trice", "https://cincinnatilibrary.bibliocommons.com/item/show/1810378170", target: "_blank"
    %li
      Harlem Renaissance
      %ul
        %li
          = link_to "The Quarry by Charles W. Chestnutt", "https://cincinnatilibrary.bibliocommons.com/item/show/1756752170", target: "_blank"
        %li
          = link_to "Prairie nocturne : a novel by Ivan Doig", "https://cincinnatilibrary.bibliocommons.com/item/show/2071743170", target: "_blank"
        %li
          = link_to "The Walls of Jericho by Fisher Rudolph", "https://cincinnatilibrary.bibliocommons.com/item/show/1417475170", target: "_blank"
        %li
          = link_to "Gentleman Jigger : a novel by Bruce Nugent", "https://cincinnatilibrary.bibliocommons.com/item/show/2579758170", target: "_blank"
        %li
          = link_to "https://cincinnatilibrary.bibliocommons.com/item/show/2704213170", "Black Orchid Blues by Persia Walker", target: "_blank"
    %li
      Jim Crowism
      %ul
        %li
          = link_to "Uncle Tom’s children : five short stories by Richard Wright", "https://cincinnatilibrary.bibliocommons.com/item/show/2525017170", target: "_blank"
    %li
      Reconstruction
      %ul
        %li
          = link_to "Let Freedom Sing: of 19th Century Americans : an historical novel or could it be a musical? by Vivian Kline", "https://cincinnatilibrary.bibliocommons.com/item/show/2616114170", target: "_blank"
    %li
      Slave Traders
      %ul
        %li
          = link_to "Crossing the River by Caryl Phillips", "https://www.amazon.com/dp/0679757945/ref=cm_sw_em_r_mt_dp_CTBKR62VF9FHRW0QVSE5", target: "_blank"
    %li
      Slavery
      %ul
        %li
          = link_to "Uncle Tom’s Cabin, or, Life Among the Lowly by Harriet Beecher Stowe", "https://cincinnatilibrary.bibliocommons.com/item/show/1609379170", target: "_blank"
        %li
          = link_to "The Amalgamation Polka by Stephen Wright", "https://cincinnatilibrary.bibliocommons.com/item/show/2748259170", target: "_blank"
    %li
      Underground Railroad
      %ul
        %li
          = link_to "The River Jordan: a True Story of the Underground Railroad by Henry Robert Burke", "https://cincinnatilibrary.bibliocommons.com/item/show/1896845170", target: "_blank"
        %li
          = link_to "The Glass Dove by Sally Carrighar", "https://cincinnatilibrary.bibliocommons.com/item/show/2252142170", target: "_blank"
        %li
          = link_to "The Runaway Quilt : an Elm Creek Quilts Novel by Jennifer Chiaverini", "https://cincinnatilibrary.bibliocommons.com/item/show/1861754170", target: "_blank"
        %li
          = link_to "Hunter of Dreams : a Story of the Underground Railroad by Steven Duff", "https://www.amazon.com/dp/1553693116/ref=cm_sw_em_r_mt_dp_zNeJFbRP6H1EG", target: "_blank"
        %li
          = link_to "Fairer Than Morning by Rosslyn Elliott", "https://cincinnatilibrary.bibliocommons.com/item/show/2761314170", target: "_blank"
        %li
          = link_to "William Henry is a Fine Name by Cathy Gohlke", "https://cincinnatilibrary.bibliocommons.com/item/show/2611728170", target: "_blank"
        %li
          = link_to "North Star Conspiracy by Miriam Grace Monfredo", "https://cincinnatilibrary.bibliocommons.com/item/show/1421577170", target: "_blank"
        %li
          = link_to "Promise Bridge by Eileen Clymer Schwab", "https://cincinnatilibrary.bibliocommons.com/item/show/2540639170", target: "_blank"
        %li
          = link_to "he Safe Room by Barbara A. Shapiro", "https://cincinnatilibrary.bibliocommons.com/item/show/1977435170", target: "_blank"
    %li
      Women Abolitionists
      %ul
        %li
          = link_to "Pale truth : a novel by Daniel Alef", "https://cincinnatilibrary.bibliocommons.com/item/show/1892724170", target: "_blank"
        %li
          = link_to "Candle in the Darkness by Lynn N. Austin", "https://cincinnatilibrary.bibliocommons.com/item/show/1948948170", target: "_blank"
        %li
          = link_to "Free Enterprise by Michelle Cliff", "https://cincinnatilibrary.bibliocommons.com/item/show/1498192170", target: "_blank"
        %li
          = link_to "Harriet and Isabella by Patricia O'Brien", "https://cincinnatilibrary.bibliocommons.com/item/show/2561665170", target: "_blank"
%section#teens
  %h2
    = link_to "Teens", "../images/files/JuneteenthBooklistTeens.pdf"
  %ul
    %li
      Non-Fiction
      %ul
        %li
          = link_to "In Our Village: Kambi ya Simba Through the Eyes of its Youth edited by Barbara Cervone", "http://search-ohpir.westervillelibrary.org/iii/encore/record/C__Rb2352264__SIn%20Our%20Village%3A%20Kambi%20ya%20Simba%20Through%20the%20Eyes%20of%20its%20Youth__Orightresult__U__X4?lang=eng&suite=def", target: "_blank"
        %li
          = link_to "Into the Land of Freedom: African-Americans in Reconstruction by Meg Green", "https://cincinnatilibrary.bibliocommons.com/item/show/2167925170", target: "_blank"
        %li
          = link_to "The Birth of Black America: The Age of Discovery and the Slave Trade by Andrew Frank", "https://cincinnatilibrary.bibliocommons.com/item/show/1748683170", target: "_blank"
        %li
          = link_to "Life Under Jim Crow Laws by Charles George", "http://search-ohpir.westervillelibrary.org/iii/encore/record/C__Rb1058222__SLife%20Under%20Jim%20Crow%20Laws__Orightresult__U__X7;jsessionid=9A0294AF7BEE0035B8CC1771E613DE2C?lang=eng&suite=def", target: "_blank"
        %li
          = link_to "Bound for America: the Forced Migration of Africans to the New World by James Haskins", "https://cincinnatilibrary.bibliocommons.com/item/show/1906362170", target: "_blank"
        %li
          = link_to "The Geography of Hope: the Black Exodus from the South after Reconstruction by James Haskins", "http://search-ohpir.westervillelibrary.org/iii/encore/record/C__Rb1033546__SThe%20Geography%20of%20Hope%3A%20the%20Black%20Exodus%20from%20the%20South%20after%20Reconstruction__Orightresult__U__X2?lang=eng&suite=def", target: "_blank"
        %li
          = link_to "Forever Free, 1863-1875: from the Emancipation Proclamation to the Civil Rights Bill of 1875 by Christopher E. Henry", "https://cincinnatilibrary.bibliocommons.com/item/show/1749221170", target: "_blank"
        %li
          = link_to "Harlem Stomp: a cultural history of the Harlem Renaissance by Laban Carrick Hill", "https://cincinnatilibrary.bibliocommons.com/item/show/2146040170", target: "_blank"
        %li
          = link_to "Claudette Colvin: Twice Towards Justice by Phillip Hoose", "https://cincinnatilibrary.bibliocommons.com/item/show/2563304170", target: "_blank"
        %li
          = link_to "Fleeing to freedom on the Underground Railroad: the Courageous Slaves, Agents, and Conductors by Elaine Landau", "https://cincinnatilibrary.bibliocommons.com/item/show/2747739170", target: "_blank"
        %li
          = link_to "A Dream of Freedom: the Civil Rights movement from 1954-1968 by Diane McWhorter", "https://cincinnatilibrary.bibliocommons.com/item/show/2462479170", target: "_blank"
        %li
          = link_to "Barack Obama: the comic book biography by Jeff Marriotte", "https://cincinnatilibrary.bibliocommons.com/item/show/11342589981", target: "_blank"
        %li
          = link_to "A Wreath for Emmett Till by Marilyn Nelson", "https://cincinnatilibrary.bibliocommons.com/item/show/2620589170", target: "_blank"
        %li
          = link_to "Farewell to Jim Crow: the rise and fall of segregation in America by R. Kent Ramussen", "http://search-ohpir.westervillelibrary.org/iii/encore/record/C__Rb1545918__SFarewell%20to%20Jim%20Crow%3A%20the%20rise%20and%20fall%20of%20segregation%20in%20America__Orightresult__U__X4?lang=eng&suite=def", target: "_blank"
        %li
          = link_to "Condoleeza Rice: a Memoir of My Extraordinary, Ordinary Family and Me by Condoleeza Rice", "https://cincinnatilibrary.bibliocommons.com/item/show/2577629170", target: "_blank"
        %li
          = link_to "Lincoln and the Abolition of Slavery by Russell Roberts", "https://cincinnatilibrary.bibliocommons.com/item/show/1774191170", target: "_blank"
        %li
          = link_to "Malcolm X and the Black Pride Movement by Anne Wallace Shar", "https://cincinnatilibrary.bibliocommons.com/item/show/2695432170", target: "_blank"
        %li
          = link_to "The Civil Rights Movement for Kids: a history with 21 activities by Mary Turck", "https://cincinnatilibrary.bibliocommons.com/item/show/2940517170", target: "_blank"
        %li
          = link_to "The Sky is Not the Limit: Adventures of an Urban Astrophysicist by Neil deGrasse Tyson", "https://cincinnatilibrary.bibliocommons.com/item/show/1755384170", target: "_blank"
        %li
          = link_to "Warmth of Other Suns: the Epic Story of America’s Great Migration by Isabel Wilkerson", "https://cincinnatilibrary.bibliocommons.com/item/show/3140059170", target: "_blank"
        %li
          = link_to "Harlem Speaks: a Living History of the Harlem Renaissance by Cary Wintz", "https://cincinnatilibrary.bibliocommons.com/item/show/2656550170", target: "_blank"
        %li
          = link_to "The Slave Trade in America: Cruel Commerce by Richard Worth", "https://cincinnatilibrary.bibliocommons.com/item/show/2219728170", target: "_blank"
    %li
      Fiction
      %ul
        %li
          = link_to "The Song of Be by Lesley Beake", "https://www.amazon.com/dp/0805029052/ref=cm_sw_em_r_mt_dp_ooGJFbSMXX7C5", target: "_blank"
        %li
          = link_to "The River Jordan: a True Story of the Underground Railroad by Henry Robert Burke", "https://cincinnatilibrary.bibliocommons.com/item/show/1896845170", target: "_blank"
        %li
          = link_to "Wrango by Brian Burks", "https://cincinnatilibrary.bibliocommons.com/item/show/1997363170", target: "_blank"
        %li
          = link_to "Mare’s War by Tanita S. Davis", "https://cincinnatilibrary.bibliocommons.com/item/show/2615055170", target: "_blank"
        %li
          = link_to "New Boy by Julian Houston", "https://cincinnatilibrary.bibliocommons.com/item/show/2700140170", target: "_blank"
        %li
          = link_to "Day of Tears by Julius Lester", "https://cincinnatilibrary.bibliocommons.com/item/show/2576348170", target: "_blank"
        %li
          = link_to "The Rock and the River by Kekla Magoon", "https://cincinnatilibrary.bibliocommons.com/item/show/2549513170", target: "_blank"
        %li
          = link_to "Tulsa Burning by Anna Myers", "https://cincinnatilibrary.bibliocommons.com/item/show/1829111170", target: "_blank"
        %li
          = link_to "Harlem Summer by Walter Dean Myers", "https://cincinnatilibrary.bibliocommons.com/item/show/269828017", target: "_blank"
        %li
          = link_to "Across the Wide River by Stephanie Reed", "https://www.amazon.com/dp/B002SB8NU8/ref=cm_sw_em_r_mt_dp_tCGJFb873GG8G", target: "_blank"
        %li
          = link_to "Come Juneteenth by Ann Rinaldi", "https://cincinnatilibrary.bibliocommons.com/item/show/2707953170", target: "_blank"
        %li
          = link_to "Flygirl by Sherri L. Smith", "https://cincinnatilibrary.bibliocommons.com/item/show/2526377170", target: "_blank"

%section#pre-teens
  %h2
    = link_to "PreK &mdash; Grade 6", "../images/files/JuneteenthBooklistPre-K-6.pdf"
  %ul
    %li
      Non-Fiction
      %ul
        %li
          = link_to "The Slave Trade by Melody Herr", "https://cincinnatilibrary.bibliocommons.com/item/show/2740859170", target: "_blank"
        %li
          = link_to "Slave Uprisings and Runaways by Ann E. Eskridge", "https://www.amazon.com/dp/0766021548/ref=cm_sw_em_r_mt_dp_h1UJFbPGRBH74", target: "_blank"
        %li
          = link_to "Freedom Riders: John Lewis and Jim Zwerg on the Front Lines of the Civil Rights Movement by Ann Bausum", "https://cincinnatilibrary.bibliocommons.com/item/show/2727657170", target: "_blank"
        %li
          = link_to "African American Civil Rights Movement", "https://cincinnatilibrary.bibliocommons.com/item/show/2663787170", target: "_blank"
        %li
          = link_to "Birmingham Sunday by Larry Dane Brimmer", "https://cincinnatilibrary.bibliocommons.com/item/show/2775702170", target: "_blank"
        %li
          = link_to "Rosa's Bus by Jo S. Kittinger", "https://cincinnatilibrary.bibliocommons.com/item/show/2604538170", target: "_blank"
        %li
          = link_to "Sit-in: How Four Friends Stood Up by Sitting Down by Andrea Davis Pinkney", "https://cincinnatilibrary.bibliocommons.com/item/show/2749471170", target: "_blank"
        %li
          = link_to "Child of the Civil Rights Movement by Paula Young Shelton", "https://cincinnatilibrary.bibliocommons.com/item/show/2738584170", target: "_blank"
        %li
          = link_to "Bad News for Outlaws: the Remarkable Life of Bass Reeves, Deputy U.S. Marshall by Vaunda Micheaux Nelson", "https://cincinnatilibrary.bibliocommons.com/item/show/2695733170", target: "_blank"
        %li
          = link_to "This School Is Not White!: a True Story of the Civil Rights Movement by Doreen Rappaport", "https://cincinnatilibrary.bibliocommons.com/item/show/2614585170", target: "_blank"
        %li
          = link_to "The Harlem Renaissance: an Explosion of African-American Culture by Richard Worth", "https://cincinnatilibrary.bibliocommons.com/item/show/2569053170", target: "_blank"
        %li
          = link_to "The Great Migration: an American Story by Jacob Lawrence", "https://cincinnatilibrary.bibliocommons.com/item/show/1378656170", target: "_blank"
        %li
          = link_to "Oprah: The Little Speaker by Carole Boston Weatherford", "https://cincinnatilibrary.bibliocommons.com/item/show/2777412170", target: "_blank"
        %li
          = link_to "Henry Aaron's Dream by Matt Tavares", "https://cincinnatilibrary.bibliocommons.com/item/show/2776878170", target: "_blank"
        %li
          = link_to "Muhammad Ali: the People's Champion by Walter Dean Myers", "https://cincinnatilibrary.bibliocommons.com/item/show/2722223170", target: "_blank"
        %li
          = link_to "The Harlem Renaissance by Kevin Hillstrom", "https://cincinnatilibrary.bibliocommons.com/item/show/2710847170", target: "_blank"
        %li
          = link_to "The Great Migration: Journey to the North by Eloise Greenfield", "https://cincinnatilibrary.bibliocommons.com/item/show/2633971170", target: "_blank"
        %li
          = link_to "We Troubled the Waters by Ntozake Shange", "https://cincinnatilibrary.bibliocommons.com/item/show/2703643170", target: "_blank"
        %li
          = link_to "The Harlem Hellfighters: When Pride Met Courage by Walter Dean Myers", "https://cincinnatilibrary.bibliocommons.com/item/show/2727037170", target: "_blank"
        %li
          = link_to "Black and White Airmen: Their True History by John Fleischman", "https://cincinnatilibrary.bibliocommons.com/item/show/2738618170", target: "_blank"
        %li
          = link_to "African Roots: Prehistory to 1440 by Melody Herr", "http://search-ohpir.westervillelibrary.org/iii/encore/record/C__Rb3904836__SAfrican%20Roots%3A%20Prehistory%20to%201440__Orightresult__U__X1?lang=eng&suite=def", target: "_blank"
        %li
          = link_to "Heart and Soul: the Story of America and African Americans by Kadir Nelson", "https://cincinnatilibrary.bibliocommons.com/item/show/2759464170", target: "_blank"
        %li
          = link_to "Cause by Tonya Bolden", "https://cincinnatilibrary.bibliocommons.com/item/show/2689560170", target: "_blank"
        %li
          = link_to "Underground by Shane Evans", "https://cincinnatilibrary.bibliocommons.com/item/show/2628047170", target: "_blank"
        %li
          = link_to "John Brown: His Fight for Freedom by John Hendrix", "https://cincinnatilibrary.bibliocommons.com/item/show/2696846170", target: "_blank"
        %li
          = link_to "Ben and the Emancipation Proclamation by Patrice Sherman", "https://cincinnatilibrary.bibliocommons.com/item/show/2749301170", target: "_blank"
        %li
          = link_to "Traveling the Freedom Road: From Slavery and the Civil War Through Reconstruction by Linda Barrett Osborne", "https://cincinnatilibrary.bibliocommons.com/item/show/2560983170", target: "_blank"
        %li
          = link_to "Obama: Only in America by Carole Boston Weatherford", "https://cincinnatilibrary.bibliocommons.com/item/show/2517458170", target: "_blank"
        %li
          = link_to "Michelle by Deborah Hopkinson", "https://cincinnatilibrary.bibliocommons.com/item/show/2688871170", target: "_blank"
        %li
          = link_to "Fort Mose: and the Story of the Man Who Built the First Free Black Settlement in Colonial America by Glennette Tilley Turner", "https://cincinnatilibrary.bibliocommons.com/item/show/2575149170", target: "_blank"
        %li
          = link_to "The Black Cowboys by Gina De Angelis", "https://cincinnatilibrary.bibliocommons.com/item/show/1553972170", target: "_blank"
    %li
      Fiction
      %ul
        %li
          = link_to "Chains by Laurie Halse Anderson", "https://cincinnatilibrary.bibliocommons.com/item/show/2704808170", target: "_blank"
        %li
          = link_to "White Water: Inspired by a True Story by Michael S. Bandy", "https://cincinnatilibrary.bibliocommons.com/item/show/2754221170", target: "_blank"
        %li
          = link_to "Jefferson’s Sons: a Founding Father’s Secret Children by Kimberly Brubaker Bradley", "https://cincinnatilibrary.bibliocommons.com/item/show/2769479170", target: "_blank"
        %li
          = link_to "Night Running: How James Escaped with the Help of His Faithful Dog by Elisa Lynn Carbone", "https://cincinnatilibrary.bibliocommons.com/item/show/2549528170", target: "_blank"
        %li
          = link_to "Elijah of Buxton by Christopher Paul Curtis", "https://cincinnatilibrary.bibliocommons.com/item/show/2503306170", target: "_blank"
        %li
          = link_to "A Sweet Smell of Roses by Angela Johnson", "https://cincinnatilibrary.bibliocommons.com/item/show/2563666170", target: "_blank"
        %li
          = link_to "Wind Flyers by Angela Johnson", "https://cincinnatilibrary.bibliocommons.com/item/show/2665593170", target: "_blank"
        %li
          = link_to "Away West by Pat McKissack", "https://cincinnatilibrary.bibliocommons.com/item/show/2676325170", target: "_blank"
        %li
          = link_to "Color Me Dark: the Diary of Nellie Lee Love, the Great Migration North by Pat McKissack", "https://cincinnatilibrary.bibliocommons.com/item/show/1896482170", target: "_blank"
        %li
          = link_to "Never Forgotten by Pat McKissack", "https://cincinnatilibrary.bibliocommons.com/item/show/2778447170", target: "_blank"
        %li
          = link_to "A Song for Harlem by Pat McKissack", "https://cincinnatilibrary.bibliocommons.com/item/show/2770755170", target: "_blank"
        %li
          = link_to "Busing Brewster by Richard Michelson", "https://cincinnatilibrary.bibliocommons.com/item/show/514471980", target: "_blank"
        %li
          = link_to "Boycott Blues: How Rosa Parks Inspired a Nation by Andrea Davis Pinkney", "https://cincinnatilibrary.bibliocommons.com/item/show/2519586170", target: "_blank"
        %li
          = link_to "Back of the Bus by Aaron Reynolds", "https://cincinnatilibrary.bibliocommons.com/item/show/2738561170", target: "_blank"
        %li
          = link_to "Roll of Thunder, Hear My Cry by Mildred D. Taylor", "https://cincinnatilibrary.bibliocommons.com/item/show/2492579170", target: "_blank"
        %li
          = link_to "The Listeners by Gloria Whelan", "https://cincinnatilibrary.bibliocommons.com/item/show/11362963981", target: "_blank"
        %li
          = link_to "One Crazy Summer by Rita Williams-Garcia", "https://cincinnatilibrary.bibliocommons.com/item/show/2755717170", target: "_blank"

%section#slavery-by-another-name
  %h2 Slavery by Another Name
  %p Slavery by Another Name is the title of both a book and a documentary film that challenge one of America's most cherished assumptions: the belief that slavery in this country ended with the Emancipation Proclamation.
  %p They reveal how even as chattel slavery came to an end in the South in 1865, thousands of African Americans and some poor whites were pulled back into forced labor with shocking force and brutality.
  %p It was a system in which men, often guilty of no crime at all, were arrested, compelled to work without pay, repeatedly bought and sold, and coerced to do the bidding of masters. Tolerated by both the North and South, forced labor lasted well into the 1940's.
