%section
  %h1 Juneteenth History
  %h2 Why Juneteenth?
  %p Its literal historical roots are in Texas, but Juneteenth is gaining popularity across the country as an occasion to celebrate one of the most important events in American history&mdash;the end of slavery in America.
  %p Although July 4th. marks the American colonies' 1776 declaration of independence from Britain, the Founding Fathers did not include America's enslaved people among "all men" who had been "created equal."
  %p It took a bloody Civil War and Constitutional amendments to end slavery, and Juneteenth celebrates the news of the Emancipation Proclamation, issued almost a century after the Declaration of Independence, making its way down to Texas on June 19, 1865.

%section
  %h3 January 1, 1863
  %p
    President Lincoln issued the
    = link_to "Emancipation Proclamation,", "https://www.infoplease.com/primary-sources/government/miscellaneous/emancipation-proclamation", target: "_blank"
    declaring that all enslaved people in the rebellious states were free. It was really military strategy&mdash;the southern states were still fighting as the Confederacy.
    %p While the Proclamation achieved an intended effect of encouraging many enslaved people to flee plantations and join the union forces, it proclaimed the freedom of only those enslaved people held in the Confederacy, which did not recognize Lincoln's authority.
  %h3 June 19, 1865
  %p Over two years later, on June 19, 1865, General Gordon Granger landed in Galveston, Texas, leading federal occupation forces some three months after the official end of the Civil War. He immediately proclaimed Texas to be under U.S. authority and re-issued the Emancipation Proclamation.
  %p He could hardly have expected his action to give birth to an annual African American freedom celebration.
  %h3 June 19th Celebrated as "Juneteenth"
  %p Celebration of June 19 as "Juneteenth" or "Emancipation Day" quickly spread through parts of the southwest, including Texas, Louisiana, and Arkansas.
  %p To the freed people, Juneteenth had much greater significance than the Fourth of July and was celebrated with community picnics featuring the reading of the Emancipation Proclamation, feasting, choir singing, prayers, and speeches.
  %p Although the popularity of Juneteenth declined in the 1940's, the traditional celebration has been "re-discovered" in recent decades as an appropriate occasion to remember the legacy of slavery and celebrate emancipation.
  %p In 1980 Texas became the first state to make Juneteenth an official state holiday.
  %p There is a movement to make Juneteenth an official national observance.

%section
  %h3 What is African Diaspora?
  %p
    "The creation of the modern African Diaspora in the Americas is largely the result of a tumultuous period in world history in which Africans were scattered abroad by the pressures of plantation slavery and the ideologies associated with white supremacy."
    = link_to "Read More about African Diaspora", "african-diaspora.html"

%section
  %h3 Juneteenth in Cincinnati
  %p
    Cincinnati's first Juneteenth celebration was in 1986 in the West End. The annual Festival began in 1988 in Kennedy Heights–Daniel Drake Park. In the early 1990's the Festival moved to Eden Park.
    = link_to "Read More about Cincinnati's Juneteenth celebration", "about.html"

%section
  %h3 Links to Learn More About Juneteenth and Slavery
  %ul
    %li
      = link_to "Movement for Declaring National Juneteenth Observance", "http://www.nationaljuneteenth.com/Juneteenth_Holiday.html", target: "_blank"
    %li
      = link_to "Juneteenth Flag", "http://www.nationaljuneteenth.com/Juneteenth_Flag.html", target: "_blank"
    %li
      = link_to "Smithosonian Juneteenth: Our Other Independence Day", "https://www.smithsonianmag.com/history/juneteenth-our-other-independence-day-16340952/", target: "_blank"
    %li
      = link_to 'Henry Louis Gates, Jr.: "What is Juneteenth?"', "http://www.pbs.org/wnet/african-americans-many-rivers-to-cross/history/what-is-juneteenth/", target: "_blank"
    %li
      = link_to "12 Things You Might Not Know About Juneteenth", "https://www.mentalfloss.com/article/501680/12-things-you-might-not-know-about-juneteenth", target: "_blank"
    %li
      = link_to "Animated YouTube video: Life Aboard a Slave Ship", "https://www.youtube.com/watch?v=PmQvofAiZGA&fbclid=IwAR2cfFucBf1SLMOFjtENz2HMeRJDja72feMwoZk5iZwZoTBNzS_HiSMp9AU&app=desktop", target: "_blank"
