%section
  = link_to "https://www.mercy.com/", target: "_blank" do
    = image_tag "../images/sponsor-logos/mercy-health.png", alt: "Mercy Health"
  = link_to "https://www.artswave.org/", target: "_blank" do
    = image_tag "../images/sponsor-logos/artswave.png", alt: "Artswave Funding Arts. Fueling Community."
  = link_to "https://www.oac.ohio.gov/", target: "_blank" do
    = image_tag "../images/sponsor-logos/ohioartscoucil.png", alt: "Ohio Arts Council"
  = link_to "http://kennedyheights.org/", target: "_blank" do
    = image_tag "../images/sponsor-logos/kennedy-heights.png", alt: "Kennedy Heights"
  = link_to "https://thecincinnatiherald.com/", target: "_blank" do
    = image_tag "../images/sponsor-logos/cincinnati-herald.png", alt: "The Cincinnati Herald"
  = link_to "https://urban1.com/radio-one/", target: "_blank" do
    = image_tag "../images/sponsor-logos/radio-one.png", alt: "Radio One"
  = link_to "http://www.cincymagazine.com/Main/CincyHome.aspx", target: "_blank" do
    = image_tag "../images/sponsor-logos/cincy-magazine.png", alt: "Cincy Magazine"
  = link_to "https://hpb.com/home", target: "_blank" do
    = image_tag "../images/sponsor-logos/half-price-books.jpg", alt: "Half Price Books"
  = link_to "https://www.ulgso.org/", target: "_blank" do
    = image_tag "../images/sponsor-logos/ULGSO.png", alt: "Urban League of Greater Southwestern Ohio"

%section
  %h2 Institutional Sponsors &amp; Donors
  %ul
    %li Avondale Youth Council
    %li Baptist Ministers Conference
    %li Children's Theatre of Cincinnati
    %li Cincinnati Herald
    %li Cincinnati Association for the Blind
    %li Cincinnati Museum Center
    %li Cincinnati Park Board
    %li Faith Community Alliance
    %li First Baptist Church of Kennedy Heights
    %li Friends of Juneteenth
    %li Heavenward Farm &amp; Horsemanship
    %li Kennedy Heights Presbyterian Church
    %li League of Women Voters
    %li S &amp; S Printing
    %li Speedy Signs and Apparel
    %li Talbert House
    %li Women of Kennedy
  %h2 2019 Individual Friends of Juneteenth
    %ul
      %li Brenda Abrams
      %li Earnest &amp; Judith Barbeau
      %li Jody Barkley
      %li Bill &amp; Janet Berger
      %li Charles &amp; Jeanette Bronson
      %li Prince &amp; Elizabeth Brown
      %li Kathy Burlew
      %li Lisa Bolden Carter
      %li Bea Conner
      %li Lois Conyers
      %li Paul &amp; Carol Davis
      %li Joyce Drake
      %li Terry &amp; Pat Eastin
      %li B. J. Gardner
      %li Al &amp; Mimi Gingold Gerhardstein
      %li Leanne &amp; Joel Greenberg
      %li Dottie &amp; Robert Hall
      %li Etta Hampton
      %li Mike &amp; Fran Harmon
      %li Carol Hubbard
      %li Steve Johnson
      %li Gail Jordan
      %li Dr. Jerry Kirby
      %li Stanford &amp; Karen Kirksey
      %li Gloria &amp; Tommy Manggrum
      %li Cheryl Meadows
      %li Jean &amp; John Mickol
      %li Carolyn Miller
      %li Col Owens
      %li William &amp; Edith Patton
      %li Euvie Rankin
      %li Mary &amp; Chris Ray
      %li Rina Saperstein
      %li Ron &amp; Marilyn Slone
      %li Merri Gaither Smith
      %li Sue Ann Spears
      %li Christine Tilford
      %li Phyllis &amp; Lionel Williams
      %li Karen Thomas
      %li Jim &amp; Susan Zarnowiecki
