%section
  %h1 Vendor &amp; Exhibitor Fees
  %p
    If you have a PayPal account, you can now use it to pay your Vendor fee for Cincinnati Juneteenth Festival. Please add 3% to the scheduled fee to cover our cost of using PayPal. You can email your form to
    = link_to "juneteenthcincinnati@gmail.com", "mailto:juneteenthcincinnati@gmail.com"
    and please confirm in the email that you have paid via PayPal.
    %ul
      %li Food Sales: $300 ($310 via PayPal)
      %li
        Sales &amp; Informational Booths
        %ul
          %li Non-profit / Public Agency: $175 ($180 via PayPal)
          %li Sole Owner $200 ($206 via PayPal)
          %li For-Profit / Small Business: $275 ($283 via PayPal)
          %li Large Business: $500 ($515 via PayPal)
          %li Large Corporation: $1,000 ($1,030 via PayPal)
          %li Non-profit Exhibitor: $75 ($77 via PayPal)
    = link_to "Pay via PayPal", "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=juneteenthcincinnati@gmail.com&item_name=Juneteenth%20Vendor%20Fee&currency_code=USD&quantity=1&no_shipping=0&no_note=1", target: "_blank"

%section
  %p Download Vendor Information, Fees &amp; Application Forms
  %ul
    %li
      = link_to "Non Food Vendor Information and Application Form", "../images/files/JuneteenthNon-foodVendorform--2020.pdf", target: "_blank"
      = link_to "Food Vendor Information and Application Form", "../images/files/JuneteenthFoodVendorForm--2020.pdf", target: "_blank"
      = link_to "Exhibitors Information and Application Form", "../images/files/JuneteenthExhibitorsForm--2020.pdf"
  %p
    If you have any questions or would like to submit Vendor Application forms, you can head over to our
    = link_to "Contact page", "contact.html"
    or email us directly at
    = succeed "." do
      = link_to "juneteenthcincinnati@gmail.com", "mailto:juneteenthcincinnati@gmail.com"
